[run]
branch = True
omit = keyholder/tests/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^if __name__ == ['"]__main__['"]:$
